[Desktop Entry]
Encoding=UTF-8
Name=System Reports
Name[ko]=시스템 리포트
Comment=Troubleshoot problems
Comment[ko]=문제 해결을 도와줍니다
Exec=hamonikr-report-tray
Icon=hamonikr-report
Terminal=false
Type=Application
Categories=System;
X-GNOME-Autostart-Delay=40
X-MATE-Autostart-Delay=40
